<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         testdox="true"
         backupGlobals="false"
         cacheResultFile=".phpunit.result.cache">
    <testsuites>
        <testsuite name="Chat Connector Pipeline">
            <directory suffix="Test.php">Chat</directory>
        </testsuite>
        <testsuite name="Connectors API">
            <directory suffix="Test.php">Connectors</directory>
        </testsuite>
        <testsuite name="Manager Classes">
            <directory suffix="Test.php">Managers</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../sentinel-mcp/includes</directory>
        </include>
    </coverage>
</phpunit>
